<mat-icon *ngIf="!loading" [class]="'mat-icon material-icons'" [svgIcon]="uniqueIconID" [style.height]="size" [style.width]="size" [style.fill]="fill || ''" [style.color]="fill || ''"
></mat-icon>

<!-- 
<mat-icon *ngIf="!loading" [class]="'mat-icon material-icons'" [svgIcon]="uniqueIconID" [style.height]="size" [style.width]="size" [style.fill]="fill || 'accent'" [style.color]="fill || 'accent'"
[ngStyle]="(hovered === i && !disabled) ? {fill: hoverFill, color: hoverFill} : {fill: fill || 'accent', color: fill || 'accent'}"
(mouseover)="hovered = i"
(mouseout)="hovered = -1"
></mat-icon> -->

