<rr-warning *ngIf="globalService.showWarningBar" [warningMessage]="globalService.warningBarObj.warningMessage" [consoleWarning]="globalService.warningBarObj.consoleWarning" [warningIcon]="globalService.warningBarObj && globalService.warningBarObj.errorIcon" [warningButton]="globalService.warningBarObj.warningButton" [styleType]="globalService.warningBarObj && globalService.warningBarObj.warningType || 'error'" [style.width]="'100%'"></rr-warning>
<div class="parent-container">
    <div *ngIf="!show" class="rr-card auth-container flex-column">
        <div [class]="loading ? 'transparent-overlay overlay-white' : 'transparent-overlay overlay-transparent'"></div>
        <div class="welcome">
            <span class="mini-text">Welcome to</span>
            <div class="horizontal-logo">
                <img src="../../../../assets/logos/rr_logo_horizontal_blue.png">
            </div>
            <!-- <form *ngIf="!error && mode && mode==='resetPassword'" action="/" method="post"> -->
                <div *ngIf="!success && !error && mode && mode==='resetPassword'" class="flex-column reset-password-div">
                    <span [style.margin-bottom]="'24px'">Please type a new password for {{email}}</span>
                    <rr-input #pwInput [placeholder]="'Create password'" [inputType]="'password'" [error]="passwordInputError" (valueUpdated)="password = $event; passwordInputError = null"></rr-input>
                    <rr-input #pwConfirmInput [placeholder]="'Re-type password'"  [inputType]="'password'" [error]="passwordValidatorInputError" (valueUpdated)="passwordValidator = $event; passwordValidatorInputError = null"></rr-input>
                    <rr-button [buttonType]="'raised'" [text]="'SUBMIT'" (click)="submitForm()"></rr-button>
                </div>
            <!-- </form> -->
            <div *ngIf="!error && success && mode && mode==='resetPassword'" class="flex-column reset-password-div">
                <span [style.margin-bottom]="'24px'">You successfully reset the password for {{email}}!</span>
                <rr-button (click)="goToLink()" [buttonType]="'raised'" [text]="'CONTINUE'"></rr-button>
            </div>
            <div *ngIf="!error && mode && mode==='verifyEmail'" class="flex-column verify-email-div">
                <ng-container *ngIf="!success"></ng-container>
                <span [style.margin-bottom]="'24px'">Thanks! You’ve successfully confirmed your email address.</span>
                <rr-button *ngIf="show" (click)="goToLink()" [buttonType]="'raised'" [text]="'CONTINUE'"></rr-button>
            </div> 
        </div>
        <div [style.margin-top]="'24px'">
            <a [style.font-size]="'0.8em'" [href]="link">Go home</a>
        </div>
    </div>
    <div class="preloader">
        <rr-preloader *ngIf="loading"></rr-preloader>
    </div>
</div>

