.parent-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
    .auth-container {
        padding: 24px;
        text-align: center;
        align-items:center;
        width: 320px;
        height: 500px;
        position: relative;
        .flex-row {
            justify-content: center;
        }
    
        .welcome {
            margin-top: 24px;
            width: 100%;
            .mini-text {
                margin-left: 10px;
            }
        }
        .transparent-overlay {
            position: absolute;
            top: 0;
            left: 0;
        }
        .overlay-white {
            background-color: rgba(255,255,255,0.6);
            z-index: 100;
            width: 100%;
            height: 100%;
        }
        .overlay-transparent {
            display: none;
            width: 0%;
            height: 0%;
        }
    }
    
    form {
        width: 100%;
    }
    
    .auth-inputs {
        margin-top: 24px;
        width: 100%;
    }
    
    .subtitle {
        margin-top: 24px;
        font-size: 0.9em;
    }
    
    .submit-buttons {
        width: 220px;
        margin-top: 12px;
        rr-button {
            width: 100%;
            margin: 6px 0px;
        }
    }
    
    .lower-links {
        margin: 12px 0px;
        a {
            margin: 6px 0px;
            text-decoration: none !important;
        }
    }
    
    .nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    
    .invisible-input {
        visibility: hidden;
        height: 0px;
        width: 0px;
        position: absolute;
    }
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.horizontal-logo {
    height: 32px;
    position: relative;
    img {
        height: 100%;
    }
}

.reset-password-div, .verify-email-div{
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
    span {
        margin-top: 24px;
        font-size: .9em;
    }
}

.error {
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    font-size: 0.9em;
}